img {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input {
    height: 43px;
    width: 560px;
    border-radius: 30px;
    border-style: solid;
    text-transform: capitalize;
    text-indent: 50px;
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/93/93642.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 12px;
    
}

form:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 0.5px;
}

.Google-Search{
    background-color: #f8f9fa;
    border-radius: 4px;
    text-align: center;
    color: #3c4043;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    margin: 11px 4px;
    border-style: solid;
    cursor: pointer;
    border: 1px solid #f8f9fa;
}
.Google-Search:hover {
    box-shadow: 0px 0px 0.5px;
    border-radius: 4px;
}

.feeling-lucky {
    background-color: #f8f9fa;
    border-radius: 4px;
    text-align: center;
    color: #3c4043;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    margin: 11px 4px;
    border-style: solid;
    cursor: pointer;
    border: 1px solid #f8f9fa;
}

.feeling-lucky:hover {
    box-shadow: 0px 0px 0.5px;
    border-radius: 4px;
}