img {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border-color: orangered;
}